body {
    position: relative; /* Necesario para que los pseudo-elementos se ubiquen bien */
    background-image: url('images/fondo1.jpg');
    background-size: 100%; /* Ajusta la imagen para que cubra toda la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
}